<%- include('./partials/header'); %>
    <div class="dashboard">
        <div class="icon">
            <i class='bx bxl-xing'></i>
            <div class="icon1">
                <a href=" ">View Site<i class='bx bx-chevron-down'></i> </a>
                <a href=" ">Log out </a>
            </div>

        </div>
        <div class="dash">
            <div class="home">
                <div class="hp">
                    <h2>Product</h2>
                    <p>Home / Add New product</p>
                </div>
                <div class="hp-1">
                    <a id="Admin" href="/products" style="margin: 20px;"><i class="fa-solid fa-user"></i> Products</a>
                    <a id="Admin" href="" style="margin: 20px;"><i class="fa-solid fa-user"></i> Admin</a>
                </div>

                <div class="info">
                    <div class="product_info">
                        <div class="all">
                            <h2 style="left: 10px;">Product information</h2>
                        </div>
                        <form action="/addnewproduct" method="POST">


                            <div class="name">
                                <label for="exampleFormControlInput" class="form-label">Name</label>
                                <input type="text" name="name" class="form-control" id="exampleFormControlInput1"
                                    placeholder="name">
                            </div>
                            <div class="name">
                                <label for="exampleFormControlInput" class="form-label">Slug</label>
                                <input type="text" name="slug" class="form-control" id="exampleFormControlInput1"
                                    placeholder="slug">
                            </div>

                            <div class="name">
                                <label for="exampleFormControlInput" class="form-label">Summary</label>
                                <textarea class="form-control" name="summary" id="exampleFormControlTextarea1"
                                    rows="9"></textarea>
                            </div>
                            <div class="name">
                                <label for="exampleFormControlInput" class="form-label">SEO url</label>
                                <input type="text" name="tags" class="form-control" id="exampleFormControlInput1"
                                    placeholder="url">
                            </div>
                            
                            <div class="name">
                                <label for="exampleFormControlInput" class="form-label" style="width: 100%;">Tags
                                    Keywords</label>
                                <input type="text" style="width: 20%;"> ,
                                <input type="text" style="width: 20%;"> ,
                                <input type="text" style="width: 20%;"> ,
                                <input type="text" style="width: 20%;">
                            </div>
                            <div class="name">
                                <label for="exampleFormControlInput" class="form-label">Delivery Information</label>
                                <textarea class="form-control" name="deliveryinfo" id="exampleFormControlTextarea1"
                                    rows="6"></textarea>
                            </div>
                            <div class="name">
                                <label for="exampleFormControlInput" class="form-label">Care Instruction</label>
                                <textarea class="form-control" name="carins" id="exampleFormControlTextarea1"
                                    rows="6"></textarea>
                            </div>
                            <div class="boxe1 " id="attributes">
                                <!-- <div class="box1">
                                    <div class="b_color" >
                                        <label for="exampleFormControlInput" class="form-label"
                                            style="margin-left:10px">
                                            Attributes</label>
                                        <input type="text" class="form-control attributeSelect" id="exampleFormControlInput1"
                                            placeholder="color Red"
                                            style="width:200px; margin-left: 10px; color: solid black ">
                                    </div>
                                    <div class="b_price">
                                        <label for="exampleFormControlInput" class="form-label"
                                            style="margin-left:10px">
                                            Additional Price Amount</label>
                                        <input type="email" class="form-control attributeSelect" id="exampleFormControlInput1"
                                            placeholder="0" style="width:200px; margin-left: 10px; color: solid black ">
                                    </div>
                                    <div class="b_button">
                                        <label for="exampleFormControlInput" class="form-label"
                                            style="margin-left:10px">
                                            Attribute image</label>
                                        <button type="button" class="btn btn-info"
                                            style=" display: flex; margin-left: 10px;">Upload Image</button>
                                        <h9 style="margin-top:5px; ">Recommended image size is 200x200</h>
                                    </div>



                                </div> -->



                                <!-- <div class="box1">
                                    <div class="b_color">
                                        <label for="exampleFormControlInput" class="form-label"
                                            style="margin-left:10px">
                                            Attributes</label>
                                        <input type="email" class="form-control" id="exampleFormControlInput1"
                                            placeholder="Size X"
                                            style="width:200px; margin-left: 10px; color: solid black ">
                                    </div>
                                    <div class="b_price">
                                        <label for="exampleFormControlInput" class="form-label"
                                            style="margin-left:10px">
                                            Additional Price Amount</label>
                                        <input type="email" class="form-control" id="exampleFormControlInput1"
                                            placeholder="0" style="width:200px; margin-left: 10px; color: solid black ">
                                    </div>
                                    <div class="b_button">
                                        <label for="exampleFormControlInput" class="form-label"
                                            style="margin-left:10px">
                                            Attribute image</label>
                                        <button type="submit" class="btn btn-info"
                                            style=" display: flex; margin-left: 10px;">Upload Image</button>
                                        <h9 style="margin-top:5px; ">Recommended image size is 200x200</h>
                                    </div>
                                </div> -->
                            </div>
                            <!-- </form> -->
                    </div>
                    <div class="stock_info">
                        <div class="all">
                            <h2 style="left: 10px;">Stock information</h2>
                        </div>

                        <% if(categories.length>0){
                            categories.forEach(function(data){
                            %>
                            <% }) } else{ %>
                                %>
                                <% } %>


                                    <div class="name">
                                        <label for="exampleFormControlInput" class="form-label">Product SKU</label>
                                        <input type="text" class="form-control" name="psku"
                                            id="exampleFormControlInput1" placeholder="......">
                                    </div>
                                    <!-- <div class="name">
                            <label for="exampleFormControlInput" class="form-label">Price</label>
                            <input type="text" class="form-control" name="price" id="exampleFormControlInput1"
                                placeholder="......">
                        </div> -->
                                    <div class="name">
                                        <label for="exampleFormControlInput" class="form-label">Items In Stock</label>
                                        <input type="text" name="stock" class="form-control"
                                            id="exampleFormControlInput1" placeholder="......">
                                    </div>
                                    <div class="all">
                                        <h2 style="left: 10px; margin-top: 30px;">More information</h2>
                                    </div>

                                    <div class="name">
                                        <span>Main price</span>
                                        <input type="text" name="regularprice" class="form-control"
                                            id="exampleFormControlInput1" placeholder="......">
                                    </div>
                                    <div class="name">
                                        <span>Discount price</span>
                                        <input type="text" name="salesprice" class="form-control"
                                            id="exampleFormControlInput1" placeholder="......">

                                    </div>
                                    <div class="name">
                                        <label for="exampleFormControlInput" class="form-label">Quantity</label>
                                        <input type="text" name="quantity" class="form-control"
                                            id="exampleFormControlInput1" placeholder="......">
                                    </div>
                                    <div class="name">
                                        <label for="exampleFormControlInput" class="form-label">Minimum Quantity</label>
                                        <input type="text" name="minquantity" class="form-control"
                                            id="exampleFormControlInput1" placeholder="......">
                                    </div>
                                    <div class="name">
                                        <span>Stock Status</span>
                                        <select name="all_user_table_length" name="stockstatus"
                                            class="custom-select custom-select-sm form-control form-control-sm"
                                            aria-label="all_user_table">
                                            <option>Select status</option>
                                            <option>In Stock</option>
                                            <option>Out of stock</option>
                                        </select>

                                        <div class="name">
                                            <label style="width: 100%;" for="exampleFormControlTextarea1"
                                                class="form-label">Category</label>
                                            <select style="width: 100%; padding: 10px 10px;" name="category"
                                                class="form-select categoriesSelect"
                                                aria-label="Default select example">
                                                <% categories.forEach((cat)=> {
                                                    %>
                                                    <option value="<%= cat.id %>">
                                                        <%= cat.name %>
                                                    </option>
                                                    <% }) %>

                                            </select>
                                        </div>
                                        <div class="name">
                                            <label style="width: 100%; margin-top: 15px;"
                                                for="exampleFormControlTextarea1" class="form-label">Sub
                                                Category</label>
                                            <select style="width: 100%; padding: 10px 10px;" id="subCategory"
                                                name="subcategory" class="form-select subCategoriesSelect"
                                                aria-label="Default select example">

                                            </select>
                                        </div>
                                        <div class="name">
                                            <label style="width: 100%; margin-top: 15px;"
                                                for="exampleFormControlTextarea1" class="form-label">Filter Type</label>
                                            <select style="width: 100%;padding: 10px 10px;" id="filter"
                                                name="filtertype" class="form-select filterSelect "
                                                aria-label="Default select example">

                                            </select>
                                        </div>
                                        <div class="name">
                                            <label for="exampleFormControlTextarea1" class="form-label"
                                                style="margin-top: 10px;">Image</label>
                                        </div>
                                        <div class="name1 " style="margin-left: 10px;">
                                            <input type="file" name="image" >
                                        </div>
                                        <div class="name1 " style="margin-left: 10px;">
                                            <input type="file" name="image1" >
                                        </div>
                                        <div class="name1 " style="margin-left: 10px;">
                                            <input type="file" name="image2" >
                                        </div>
                                        <div class="name1 " style="margin-left: 10px;">
                                            <input type="file" name="image3" >
                                        </div>
                                        <div class="name1 " style="margin-left: 10px;">
                                            <input type="file" name="image4" >
                                        </div>
                                        <div class="name1 " style="margin-left: 10px;">
                                            <input type="file" name="image5" >
                                        </div>
                                        <div class="name1" style="margin-left: 10px;">
                                            <h7 style="margin-top:5px;">Recommended image size is 200x200</h7>
                                        </div>
                                        <div class="name">
                                            <label for="exampleFormControlInput" class="form-label">Attributes</label>
                                            <div class="name3">
                                                <select class="form_control " name="attributes" id="attribute_option">
                                                    <option value=>Select attribute</option>
                                                    <option value="color">color</option>
                                                    <option value="size">Size</option>

                                                </select>
                                                <div class="attribute" style="margin-top:15px;">
                                                    <select name="color" id="color" class="hide">
                                                        <% attribute.forEach((cat)=> {
                                                            %>
                                                            <option value="<%= cat.terms %>">
                                                                <%= cat.terms %>
                                                            </option>
                                                            <% }) %>
                                                    </select>

                                                    <select name="size" id="size" class="hide">
                                                        <% addatr.forEach((cat)=> {
                                                            %>
                                                            <option value="<%= cat.terms %>">
                                                                <%= cat.terms %>
                                                            </option>
                                                            <% }) %>
                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="name">

                                            <label style="width: 100%;" for="exampleFormControlTextarea1"
                                                class="form-label">Dimention</label>
                                            <input type="text" style="width: 15%; padding: 1px 0;">
                                            <select style="width: 15%;padding: 3px 0;" class="form-select"
                                                aria-label="Default select example">
                                                <option value="1">mtr</option>
                                                <option value="2">cm</option>
                                            </select>
                                            <input type="text" style="width: 15%; padding: 1px 0;">
                                            <select style="width: 15%;padding: 3px 0;" class="form-select"
                                                aria-label="Default select example">
                                                <option value="1">mtr</option>
                                                <option value="2">cm</option>
                                            </select>
                                            <input type="text" style="width: 15%; padding: 1px 0;">
                                            <select style="width: 15%;padding: 3px 0;" class="form-select"
                                                aria-label="Default select example">
                                                <option value="1">mtr</option>
                                                <option value="2">cm</option>
                                            </select>
                                        </div>

                                        <div class="name">

                                            <label style="width: 100%;" for="exampleFormControlTextarea1"
                                                class="form-label">Weight</label>
                                            <input type="text" style="width: 15%; padding: 1px 0;">
                                            <select style="width: 15%;padding: 3px 0;" class="form-select"
                                                aria-label="Default select example">
                                                <option value="1">kg</option>
                                                <option value="2">ponds</option>
                                            </select>
                                        </div>
                                        <div class="name">
                                            <label for="exampleFormControlInput" class="form-label">Sort Order</label>
                                            <input type="text" name="sortorder" class="form-control"
                                                id="exampleFormControlInput1" placeholder="......">
                                        </div>
                                        <div class="name">
                                            <label style="width: 100%;" for="exampleFormControlTextarea1"
                                                class="form-label">Status</label>
                                            <select style="width: 100%; padding: 10px 10px;" name="status"
                                                class="form-select" aria-label="Default select example">
                                                <option selected>Draft</option>
                                                <option>Publish</option>
                                            </select>

                                            <button class="btn-new" type="submit"
                                                style="width: 100%; border-radius: 5px; ">Create
                                                product</button>
                                            </form>
                                        </div>

                                    </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#color').on('change', function () {
                let value = $(this).val();
                let box = (
                    "           <div class='box1'>" +
                    "<div class=' atrValue b_color' >" +
                    "<label for='exampleFormControlInput' class='form-label'style='margin-left:10px'>Attributes</label>" +
                    "<input type='text' required class='form-control attributeSelect' name= 'acolor' id='exampleFormControlInput1'  style='width:200px; margin-left: 10px; color: solid black'>" +
                    "</div>" +
                    "<div class='b_price'>" +
                    "<label for='exampleFormControlInput' class='form-label' style='margin-left:10px'>Additional Price Amount</label>" +
                    "<input type='text'  required class='form-control attributeSelect' name= 'sprice' id='exampleFormControlInput1'  style='width:200px; margin-left: 10px; color: solid black'>" +
                    "</div>" +
                    "<div class='b_button'>" +
                    "<label for='exampleFormControlInput' class='form-label' style='margin-left:10px'>Attribute image</label>" +
                    "<input type='file'  style='display: grid; name= 'simage' margin-left: 10px;'>" +
                    "<h9 style='margin-top:5px;'>Recommended image size is 200x200</h>" +
                    "</div>" +
                    " <button type= 'submit' id= 'btnDelete' class='btn btn-danger btnDelete' style='width: 48px; height: 52px ;margin: 26px; '> <i class='bx bx-message-square-x'></i></button>" +
                    "</div>"
                )
                // console.log(box);
                $("#attributes").append(box);
                let lastInput = $(".atrValue").find("input:last");
                $(lastInput).val(value)

                // $(input).val(value);
            })
        })
    </script>

    <script>

        $(document).ready(function () {
            $('#size').on('change', function () {
                let value = $(this).val();
                let box = (
                    "           <div class='box1' id = 'hideDiv'>" +
                    "<div class='atrValue b_color' >" +
                    "<label for='exampleFormControlInput' class='form-label'style='margin-left:10px'>Attributes</label>" +
                    "<input type='text' required class='form-control attributeSelect' name = 'asize' id='exampleFormControlInput1'  style='width:200px; margin-left: 10px; color: solid black'>" +
                    "</div>" +
                    "<div class='b_price'>" +
                    "<label for='exampleFormControlInput' class='form-label' style='margin-left:10px'>Additional Price Amount</label>" +
                    "<input type='text' required class=' form-control attributeSelect' name = 'aprice' id='exampleFormControlInput1'  style='width:200px; margin-left: 10px; color: solid black'>" +
                    "</div>" +
                    "<div class='b_button'>" +
                    "<label for='exampleFormControlInput' class='form-label' style='margin-left:10px'>Attribute image</label>" +
                    "<input type='file' class='btn btn-info'name= 'aimage'  style='display: grid; margin-left: 10px;width: 127px;'>" +
                    "<h9 style='margin:5px 10px;'>Recommended image size is 200x200</h>" +
                    "</div>" +
                    " <button type= 'submit' id= 'btnDelete' class='btn btn-danger btnDelete' style='width: 48px; height: 52px ;margin: 26px; '> <i class='bx bx-message-square-x'></i></button>" +
                    "</div>"
                )
              
                $("#attributes").append(box);
                let lastInput = $(".atrValue").find("input:last");
                $(lastInput).val(value)
                //$(input).val(value);
                $("btnDelete").on('click',function(e) {
                    e.preventDefault()
                        //  console.log($(box).remove()) ;
                          $("#hideDiv").remove()
                        
                           
                    })
            })
        })
    </script>
    <script>
        $(document).ready(function () {
            $('#attributes').hide();
            $('#attribute_option').on('change', function () {
                var showId = $(this).val();
                // alert(showId);
                // alert($(".hide").attr("id"))
                // // alert( this.value );
                $('.hide').each(function () {
                    // alert( this.id );
                    if (showId == "color") {
                        $("#color").show();
                        $("#size").hide();
                        $('#attributes').show();

                    }
                    if (showId == "size") {
                        $("#size").show();
                        $("#color").hide();
                        $('#attributes').show();

                    }
                });
            });


            $("#color").hide();
            $("#size").hide();
            $('#attribute_option').on('change', function () {
                var showId = $(this).val();
                // alert(showId);
                // alert($(".hide").attr("id"))
                // // alert( this.value );
                $('.hide').each(function () {
                    // alert( this.id );
                    if (showId == "color") {
                        $("#color").show();
                        $("#size").hide();

                    }
                    if (showId == "size") {
                        $("#size").show();
                        $("#color").hide();

                    }
                });
            });
        });
        $('.hide').on('click', function (e) {
            e.preventDefault()
            // console.log($(this).value)
            $.ajax({
                method: 'GET',
                url: '/fetch-attributes',
                dataType: 'json',
                data: {
                    titleId: $(this).val()
                },
                success: (res) => {
                    // console.log({ "Success Response": res })
                    if (res.status == true) {
                        let attributeList = [];
                        res.result.map((element) => {
                            attributeList = `<input> ${element.title} </input>`
                        })
                        $('.attributeSelect').html(filterList)
                    } else {
                        $('.attributeSelect').html(`<input> ${res.result} </input>`)
                    }
                },
                error: (err) => {
                    console.log({ "Error Response": err })
                }

            })
        })

        $('.subCategoriesSelect').on('click', function (e) {
            
            $('#filter option').remove()
            e.preventDefault();
            // console.log($(this).val())
            
            $.ajax({
                method: 'GET',
                url: '/fetch-producttypes',
                dataType: 'json',
                data: {
                    filtersubcategoryId: $(this).val()
                },
                success: (res) => {
                    console.log({ "Success Response": res })
                    
                    let ras = res.result
                    
                    $.each(ras, function (key, value) {
                        
                        $('#filter')
                        
                            .append($("<option value='${value.name}'>  </option>")
                                .attr("value", value.id)
                                .text(value.name));
                    })

                },
                error: (err) => {
                    console.log({ "Error Response": err })
                }
            })
        })

        $('.categoriesSelect').on('change', function (e) {
                    $('#subCategory option').remove()
                    e.preventDefault();

                    $.ajax({
                        method: 'GET',
                        url: '/products/fetch-subcategories',
                        dataType: 'json',
                        data: {
                            categoryId: $(this).val()
                    
                        },
                        success: (res) => {
                            let ras = res.result
                            $.each(ras, function (key, value) {
                               
                                console.log(value,"hjk")
                                $('#subCategory')
                               
                                    .append($("<option value= '${value.name}' ></option>")
                                   
                                        .attr("value", value.id)
                                        .text(value.name));
                            });

                        },
                        error: (err) => {
                            console.log({ "Error Response": err })
                        }
                    })
                })
    </script>
    


    <%- include('./partials/footer'); %>