<%- include('./partials/header'); %>
    <style>
        .hide {
            display: none;
        }
        .error {
            color: white;
            font-size: 14.5px;
            padding: 3px 0 0 11px;
            background-color: rgba(255, 0, 0, 0.389);
            margin-top: 5px;
            border-radius: 10px;
        }
    </style>
    <div class="banner">
        <div class="banner_name">
            <h5> Feature </h5>
        </div>
        <form action="/feature" method="POST">
            <div class="banner_details">
                <div class="banner_data">
                    <h6>Add New </h6>
                    <div class="name_6">
                        <label for="exampleFormControlInput" class="form-label" style="margin: 5px 5px;">Name</label>
                        <input type="text" name="name" placeholder="Feature Name" class="form-control">

                    </div>
                    <div class="name_6">
                        <label for="exampleFormControlInput" class="form-label" style="margin: 5px 5px;">Slug</label>
                        <input type="text" name="slug" placeholder="Feature Slug" class="form-control">
                        <p class="hide error">Slug should be unique</p>
                    </div>

                    <div class="name_6">
                        <button type="button" class="btn btn-primary"
                            style="width: 14%; margin: 10px 3px;">Save</button>
                    </div>
                </div>
        </form>
    </div>


    <div class="banner_table">
        <div class="banner_table_data">
            <table class="display" style="width:99% ; height: 35px; ">
                <thead style="background-color: #0A2558; color:white; margin: 5px 10px; ">
                    <tr>
                        <td><input type="checkbox" style="margin-left: 15px; "></td>
                        <td>Name</td>
                        <td>Slug</td>

                        <td>Action</td>
                    </tr>
                </thead>
                <tbody style="padding: 10px;">
                    <% if(sampleData.length>0){
                        sampleData.forEach(function(data){
                        %>
                        <tr>
                            <td style="padding: 10px;"><input type="checkbox"></td>
                            <td style="padding: 10px;">
                                <%=data.name %>
                            </td>
                            <td style="padding: 10px;">
                                <%=data.slug %>
                            </td>

                            <td style="padding: 10px;">
                                <a href="/feature/delete/<%= data.id %>" class="btn btn-danger"><i
                                        class='bx bx-message-square-x'></i></a>
                                <a href="/feature/edit/<%= data.id %>" class="btn btn-primary"><i
                                        class='bx bxs-edit-alt'></i></a>
                            </td>
                        </tr>
                        <% }) } else{ %>
                            <tr>

                                <td colspan="5">No Data Found</td>
                            </tr>
                            %>
                            <% } %>
                </tbody>

            </table>
        </div>
    </div>
    </div>

    <script>
        let slug = document.querySelector('input[name="slug"]');
        let name;
        const createSlug = (value) => {
            name = document.querySelector('input[name="name"]').value;

            if (name) {

                generateSlug = name.toLowerCase().replace(/[^a-zA-Z0-9]+/g, '_');

                slug.value = generateSlug;
            }
        }

        document.querySelector('input[name="name"]').addEventListener('keyup', function (e) {
            createSlug(e.target.value);
        })

        document.querySelector('button[type="button"]').addEventListener("click", (e) => {
            e.preventDefault();

            $.ajax({
                type: "get",
                url: "/checkfeatureslug",
                data: {
                    slug: name
                },
                dataType: "json",
                success: function (response) {
                    if (response) {
                        document.querySelector('form').submit();
                        document.querySelector('.error').classList.add('hide')
                    } else {
                        document.querySelector('.error').classList.remove('hide')
                    }
                }
            });
        })
    </script>

    <%- include('./partials/footer'); %>