<%- include('../partials/header'); %>
    <div class="dashboard">
        <div class="icon">
            <i class='bx bxl-xing'></i>
            <div class="icon1">
                <a href=" ">View Site<i class='bx bx-chevron-down'></i> </a>
                <a href=" ">Log out </a>
            </div>

        </div>
        <div class="dash">
            <div class="home">
                <div class="hp">
                    <h2>Role Group Name</h2>
                    <p>Home / Role Group Name</p>
                </div>
                <div class="hp-1">
                    <a id="Admin" href=""><i class="fa-solid fa-user"></i> Admin</a>
                </div>
            </div>
        </div>
        <div class="all">
            <h2>All Group</h2>
            <div class="select-box-wrap">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Bulk option</option>
                    <option value="1">Delete</option>
                </select>
                <button type="button" class="btn btn-primary">Apply</button>
                <a href="/addrole" class="btn btn-primary" style="margin-left: 1000px; padding: 10px 30px;">Add Role</a>

            </div>
        </div>
        <div class="row">
            <div class="col-12" style="margin-top: 25px;">
                <table id="example" class="display mt-5" style="width:100%">
                    <thead style="background-color: #0A2558;color:white; height: 3rem;">
                        <tr>
                            <td><input type="checkbox" style="margin-left: 15px; "></t>
                            <td>Roll Group Name</td>
                            <td>Status</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(sampleData.length>0){
                            sampleData.forEach(function(data){
                            %>



                        <tr>
                            <td style="height: 5rem;"><input type="checkbox" style="margin-left: 15px; "></td>
                            <td><%=data.rolegroup %></td>
                            <td><%=data.status %></td>
                            <td>
                                <a href="/rolemanagement/role-group/delete/<%= data.id %>"  class="btn btn-danger" ><i class='bx bx-message-square-x'></i></a> 
                                 <a href="/rolemanagement/role-group/edit/<%= data.id %>" class="btn btn-primary"><i class='bx bxs-edit-alt'>Update Group</i></a>
                                <!-- <button type="button" class="btn btn-danger">
                                    <i class='bx bxs-analyse' style="width: 33px;
                                    padding: 7px;
                                    margin: 0 22px;"></i></button>
                                     <button type="button" class="btn btn-primary"><i class='bx bxs-edit-alt'></i>Update Status</button> -->
                            </td>
                        </tr>

                        <% }) } else{ %>
                           
                            %>
                            <% } %> 

                    </tbody>

                </table>
            </div>
        </div>

    </div>

    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script>
    $(function(){
      $("#example").dataTable();
    })
    </script>

    <%- include('../partials/footer'); %>