<%- include('../partials/header'); %>
    <div class="dashboard">
        <div class="icon">
            <i class='bx bxl-xing'></i>
            <div class="icon1">
                <a href=" ">View Site<i class='bx bx-chevron-down'></i> </a>
                <a href=" ">Log out </a>
            </div>

        </div>
        <div class="dash">
            <div class="home">
                <div class="hp">
                    <h2>All Productssssss</h2>
                    <p>Home / Product</p>
                </div>
                <div class="hp-1">
                    <a id="Admin" href=""><i class="fa-solid fa-user"></i> Admin</a>
                </div>
            </div>
        </div>
        <div class="all">
            <h2>All Product</h2>
            <div class="select-box-wrap">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Bulk option</option>
                    <option>Delete</option>
                </select>
                <button type="button" class="btn btn-primary">Apply</button>
                <a href="/addnewproduct" class="btn btn-primary" style="margin-left: 1000px;">Add New Product</a>

            </div>
           
    <div class="row" >
        <div class="col-12" style="margin-top:25px">
            <table id="example"  style="width:100%">
                <thead style="background-color: #0A2558;color:white;">
                    <tr>
                        <td><input type="checkbox" style="margin-left: 15px; "></t>
                        <td style="padding:15px;">id</td>
                        <td>Name</td>
                        <td>SKU</td>
                        <td>Quantity</td>
                        <td>category</td>
                        <td>Main Price</td>
                        <td>Discount Price</td>
                        <td>Status</td>
                        <td>image</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    <% if(sampleData.length>0){
                        sampleData.forEach(function(data){
                        %>

                        <tr>
                            <td><input type="checkbox" style="margin-left: 15px; "></td>
                            <td style="padding:15px;">
                                <%=data.id %>
                            </td>
                            <td>
                                <h6 style="margin-top: 10px;">
                                    <%=data.name %>
                                </h6>
                                <small>
                                    <strong>stock: <%=data.stock %> </strong>

                                </small>

                            </td>
                           
                            <td>
                                <%=data.psku %>
                            </td>
                            <td>
                                <%=data.quantity %>
                            </td>
                            <td>
                                <%=data.category %>
                            </td>
                            <td>
                                <%=data.regularprice %>
                            </td>
                            <td>
                                <%=data.salesprice%>
                            </td>
                            <td>
                                <span class="alert alert-warning">
                                    <%=data.status %>
                                </span>
                            </td>
                            <td>
                                <div class="pic">
                                    <img src="<%=data.image %> " style="height: 100px ;width: 100px; " alt="image">
                                </div>
                            </td>
                            <td>
                                <a href="/products/delete/<%= data.id %>" class="btn btn-danger"><i
                                        class='bx bx-message-square-x'></i></a>
                                <a href="/products/edit/<%= data.id %>" class="btn btn-primary"><i
                                        class='bx bxs-edit-alt'></i></a>
                                <a href="/products/copy/<%= data.id %>" class="btn btn-secondary"><i
                                        class='bx bx-chat'></i></a>
                                <a href="/products/view/<%= data.id %>" class="btn btn-info"><i
                                        class='bx bx-low-vision'></i></a>
                                <!-- <button type="button" class="btn btnDelete btn-danger"><i
                                            class='bx bx-message-square-x'></i></button>
                                    <button type="button" class="btn btn-primary"><i
                                            class='bx bxs-edit-alt'></i></button>
                                    <button type="button" class="btn btn-secondary"><i class='bx bx-chat'></i></button>
                                    <button type="button" class="btn btn-info"><i class='bx bx-low-vision'></i></button> -->
                            </td>
                          
                               
                           
                        </tr>
                        <!-- <tr>
                            <td>
                                <a href="/products/bestselling/<%= data.id %>" class="btn btn-primary"><i
                                    class='bx bxs-edit-alt'></i>Best Selling</a>
                            </td>
                            
                        </tr> -->
                       
                       
                  
                        <% }) } else{ %>
                           
                            %>
                            <% } %>

                           

                </tbody>

            </table>
           
        </div>
    </div>
    <form action="/bestselling" method="POST"></form>
    <div class="btn btn-outline">
                          
        <input class="btn btn-primary" type="submit" value="Best Selling">
        <input class="btn btn-primary" type="submit" value="Remove Best Selling">
        <input class="btn btn-primary" type="submit" value="Trending Now">
        <input class="btn btn-primary" type="submit" value="Remove Trending Now"> 
</div>

    </div>
    


    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script>
    $(function(){
      $("#example").dataTable();
    })
    </script>

        <!-- <script>
            $(document).ready(function () {
                $(".btnDelete").on('click', function () {
                    $(this).closest("tr").remove();
                })
            })
        </script> -->
<!--         
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
            <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

            <script>
                tinymce.init({
                  selector: 'textarea#example',
                });
              </script>
<script>
    $(document).ready( function () {
    $('#example').DataTable();
} );
</script> -->




<%- include('../partials/footer'); %>